alias pip=pip3
alias python=python3
alias dcu="docker compose up -d"
alias dcd="docker compose down"

alias kx="kubectx"
alias kn="kubens"

alias j8='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)'
alias j11='export JAVA_HOME=$(/usr/libexec/java_home -v 11)'
alias j17='export JAVA_HOME=$(/usr/libexec/java_home -v 17)'
alias j21='export JAVA_HOME=$(/usr/libexec/java_home -v 21)'

alias dot='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'
alias secrit='git --git-dir=$HOME/.secretfiles --work-tree=$HOME'

# Use homebrew vi, not the default MacOS one
alias vi=/opt/homebrew/bin/vi
